
#div_bttn_send_email{
    display: none;
    position:fixed;
    width: 30%;
    height: 28%;
    margin-left: 25%;
    border-radius: 4px;
    background-color: cadetblue;
    z-index: 99;
}
#lbl-email{
    display: block;
    resize: none;
    margin-left: 5%;
    margin-top: 0.4em;
}
.texto_email{
    display: block;
    resize: none;
    width: 90%;
    margin-left: 5%;
    height: 8em;
    border-radius: 4px;
}
#div-cont-email2{
    display: block;
    margin-top: 0.5em;
    width: 60%;
    float: right;
}
.bttn-send-email{

}
#bttn-cancelar-email{
    margin-left: 4%;
}

/*********************************/

#div_bttn_send_sms{
    display: none;
    position:fixed;
    width: 30%;
    height: 28%;
    margin-left: 25%;
    border-radius: 4px;
    background-color: cadetblue;
    z-index: 99;
}
#lbl-sms{
    display: block;
    resize: none;
    margin-left: 5%;
    margin-top: 0.4em;
}
.texto_sms{
    display: block;
    resize: none;
    width: 90%;
    margin-left: 5%;
    height: 8em;
    border-radius: 4px;
}
#div-cont-sms2{
    display: block;
    margin-top: 0.5em;
    width: 60%;
    float: right;
}
.bttn-send-sms{

}
#bttn-cancelar-sms{
    margin-left: 4%;
}
